/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

a.language-switcher {
  color: black;
  margin-left: 2px;
}

#blog-post #post-content {
  margin-bottom: 20px;
  text-align: justify;
}

.box-image-text.blog .intro  {
  text-align: justify;
}

td {
  padding: 15px;
  text-align: left;
}

th {
  padding: 15px;
  text-align: center;
}

p, h2, h3, h4 {
    text-indent: 20px; /* Отступ первой строки в пикселах */
   }

 .box-simple p, h3 {
   text-indent: 0px;
  }

.btn-lg, .btn-template-main, .btn-template-transparent-primary, #footer h4, #footer p {
  text-indent: 0px;
}
