{{ if .IsTranslated }}
{{ range .Translations }}
    <li>
		<span class="language-switcher" style="">
			<i class="fa fa-globe"></i>
			<a href ="{{ .Permalink }}" style="">{{ .Lang }} {{ if .IsPage }} {{ end }} </a>
		</span>
    </li>
{{ end}}
{{ end }}
