{{ if isset .Site.Params "see_more" }}
{{ if .Site.Params.see_more.enable }}
<section class="bar background-image-fixed-2 no-mb color-white text-center">
    <div class="dark-mask"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
        <!--  <img class="img-responsive" src="{{ .Site.Params.see_more.picture }}" alt=""> -->
                <div class="icon icon-lg"><i class="{{ .Site.Params.see_more.icon }}"></i>
             </div>
                <h3 class="text-uppercase">{{ i18n "seeMoreTitle" }}</h3>
                <p class="lead">{{ .Site.Params.see_more.subtitle }}</p>
                <p class="text-center">
                    <a href="{{ .Site.Params.see_more.link_url | absLangURL }}" class="btn btn-template-transparent-black btn-lg">{{ i18n "readMore" }}</a>
                </p>
            </div>

        </div>
    </div>
</section>
{{ end }}
{{ end }}
